.Wallet {

  /* background-color: black; */
}

.Header {
  background-color: black;
  border: 10px;
  color: white;
}

.Form {
  background-color: gray;
}

.Form input {
  color: black;
  margin: 10px;
}

.Form button {
  margin: 10px;
}

.Form input {
  color: black;
  margin: 10px;
}

.Form button {
  margin: 10px;
}

.Table td {
  border: solid black 1px;
}

.Table button {
  background-color: rgb(15, 1, 1);
  color: white;
}

